<h2>Authors</h2>
The following people contributed to the content of this lesson:
<div class="author-table">
<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- prettier-ignore-start -->
<!-- markdownlint-disable -->
<table>
  <tbody>
    <tr>
      <td align="center" valign="top" width="14.28%"><a href="http://tiborsimko.org/"><img src="https://avatars.githubusercontent.com/u/517546?v=4?s=100" width="100px;" alt="Tibor Šimko"/><br /><sub><b>Tibor Šimko</b></sub></a><br /><a href="#content-tiborsimko" title="Content">🖋</a></td>
    </tr>
  </tbody>
</table>

<!-- markdownlint-restore -->
<!-- prettier-ignore-end -->

<!-- ALL-CONTRIBUTORS-LIST:END -->
</div>
Note that this list does not include the contributors to the framework as developed by the carpentries.
